<% content_for :head do %>
	<%= javascript_include_tag 'addresses' %>
	<%= stylesheet_link_tag    'addresses', media: 'all' %>
<% end %>

<!-- multistep form -->
<div class = "container">
	<div class = "row">
    <%= render :partial => "form" %>
	</div>
</div>


