<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <%= link_to (admin_dashboards_path) do %>
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to (admin_orders_path) do %>
                        <i class="fa fa-gavel"></i>
                        <span>Orders</span>
                    <% end %>
                </li>
            </ul>            
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>