<div class = "container"><!-- Main Content Start -->
	<!-- begin:content -->
	<div class="container">
	    <div class="row container-gallery">
	        <% @photos.each do |photo| %>
	          <%= render :partial => "image_show",:locals => {:photo => photo} %>
	        <% end %>
	    </div>
	</div>
	<!-- end:content -->
</div><!-- Main Container End-->



