<div class = "container"><!-- Main Content Start -->
	<!-- begin:content -->
	<div class="container">
	    <div class="row container-gallery">
	    	<%= render :partial => @photos %>   
	    </div>
	</div>
	<!-- end:content -->
</div><!-- Main Container End-->



