
<div class = "container" >
	<div class = "row">
	    <div class = "col-md-8 col-md-offset-2 panel panel-default">
	    	<div class="panel-body" >
				<h1 ><span class="label label-primary">Add New Photo</span></h1>
				<br>
				<%= render 'form' %>
				<%= link_to 'Back', photos_path %>
			</div>
		</div>
	</div>
</div>
